# Ignore everything
**/*.*

# ... except for dependencies and source
# Ref.: https://github.com/moby/moby/issues/30018
!pyproject.toml
!uv.lock
!README.md

!django_asgi_lifespan/**/*.py
!tests/**/*.py
